<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <style>
    body {
      margin: 8px;
    }
    input {
      width: 100%;
    }
  </style>
</head>
<body>
  <input name='new_name' type='text' id='input' value='{{exprName}}'></input>
</body>