<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <!--<link href='{{css}}' rel='stylesheet' type='text/css'>-->
</head>
<body>
  <strong>{{name}}</strong>
  <pre>{{type}}</pre>
  <p>{{doc}}</p>
</body>